<div class="menu-bar">
  <button mat-button (click)="navigateToAddConnection()">Add Connection</button>
  <button mat-button (click)="openSelectConnection()">Select</button>
  <button mat-button (click)="navigateToConfigure()">Configure</button>
  <mat-icon (click)="goToHome()" class="home-icon">home</mat-icon>
</div>
<div class="connections-list">
  <div *ngFor="let connection of connections" class="connection-box">
    <div><strong>Name:</strong> {{ connection.name }}</div>
    <div><strong>IP Address:</strong> {{ connection.ipAddress }}</div>
    <div><strong>Gateway:</strong> {{ connection.gateway }}</div>
    <div><strong>Subnet:</strong> {{ connection.subnet }}</div>
  </div>
</div>
