body {
  background-color: #f0f8ff; /* Very light sky blue */
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); /* Adjust height to make room for bottom buttons */
  overflow: hidden; /* Prevent common scrollbar */
}

.header {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9af7cd; /* Blue background color */
  color: #007bff;
  width: 100%; /* Full-width header */
  padding: 10px 20px; /* Padding for content spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.home-icon {
  cursor: pointer;
  font-size: 30px;
  color: #007bff; /* Icon color */
  transition: transform 0.3s, color 0.3s;

  &:hover {
    color: #1976d2; /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge icon */
  }
}

.title {
  font-size: 24px;
  text-align: center;
  flex-grow: 1; /* Center title in the header */
}

.top-controls {
  display: flex;
  gap: 10px;
}

button.read-tags,
button.write-tags {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer; /* Adds pointer cursor on hover */
  background-color: #007bff; /* White background */
  color:#ffffff; /* Blue text */
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

button.read-tags:hover,
button.write-tags:hover {
  background-color: #1976d2; /* Light blue on hover */
}

.connection-detail {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  text-align: center;
  margin-top: 70px; /* Spacing below the fixed header */
  box-shadow: 3px 3px 5px #999;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  margin-top: 40px;
  overflow: hidden; /* Prevent common scrollbar */
}

.box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 35%;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top:15px; 
  margin-bottom: 10px;
 
}

.fixed-heading {
  flex-shrink: 0;
  background-color: #9af7cd;
  padding: 2px;
  text-align: center;
  border-radius: 18px;
}

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%; /* Align center vertically */
}

.controls button {
  margin: 10px 0;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #999;
  transition: background-color 0.3s, transform 0.3s;
}

.controls button:active {
  box-shadow: inset 3px 3px 5px #999;
  transform: translateY(2px);  
}

.controls button.selected {
  background-color: lightgreen;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

li.selected {
  background-color: #00ff04;
  color: rgb(41, 9, 247);
}

li.new-tag {
  background-color: red;
  color: white;
}

.bottom-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color:#9af7cd;
  box-shadow: 0 -2px 5px #999;
}

.bottom-controls button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: not-allowed;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 3px 3px 5px #999;
}

.bottom-controls button:hover {
  transform: translateY(-2px);
}

.bottom-controls button.ok {
  background-color: #999; /* Default color */
  cursor: not-allowed;
  pointer-events:none;
  opacity: 0.8;
}

.bottom-controls button.cancel {
  background-color:#999; /* Default color */
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.8;
}

.bottom-controls button.ok.glow-green {
  background-color: #00ff00; /* Green color */
  cursor: pointer;
  pointer-events:all;
}

.bottom-controls button.cancel.glow-yellow {
  background-color: #ffcc00; /* Yellow color */
  cursor: pointer;
  pointer-events:all;
}

.bottom-controls button:active {
  box-shadow: inset 3px 3px 5px #999;
  transform: translateY(2px);
  cursor: pointer;
}

.message {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #999;
  animation: fadein 0.5s;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
